@page
@model Todo.Web.Server.Pages.IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Todo App</title>
    <base href="/" />
    <link rel="stylesheet" href="~/bootstrap/dist/css/bootstrap.min.css" />
    <link href="css/app.css" rel="stylesheet" />

    <!-- Use scoped CSS from Client -->
    <link href="Todo.Web.Client.styles.css" rel="stylesheet" />
</head>

<body>
    <main class="bg-dark" role="main">
        <component type="typeof(Todo.Web.Client.TodoApp)" 
            param-CurrentUser="@Model.CurrentUserName"
            param-SocialProviders="@Model.ProviderNames" 
            render-mode="WebAssembly" />
    </main>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.webassembly.js"></script>
    <script src="~/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
